# **`Bag Of Words`**

## **`Necessary imports`**

In [167]:
import pandas as pd

## **`Number of sentences in the corpus`**

In [168]:
sNumber = int(input("Enter number of sentences: "))

Enter number of sentences: 4

## **`Inputing the sentences`**

In [169]:
sentences = dict()
for i in range(0, sNumber):
  sentences[f"S{i+1}"] = input().lower()

It was the best of times
it was the worst of times
it is the time of stupidity
it is the age of foolishness

## **`Viewing the sentences`**

In [170]:
sentences

{'S1': 'it was the best of times',
 'S2': 'it was the worst of times',
 'S3': 'it is the time of stupidity',
 'S4': 'it is the age of foolishness'}

## **`Splitting the sentences in words`**

In [171]:
totalWords = set()
# Using set, because we need unique words.

for i in range(0, sNumber):
  s = sentences[f"S{i+1}"].split()
  for i in range(len(s)):
    totalWords.add(s[i])

## **`Converting the set to the list`**

In [172]:
totalWords = list(totalWords)
totalWords

['time',
 'age',
 'times',
 'foolishness',
 'was',
 'best',
 'is',
 'stupidity',
 'of',
 'worst',
 'it',
 'the']

## **`Removing the stopwords`**

In [173]:
stopWords = [ 'stop', 'the', 'to', 'and', 'a', 'in', 'it', 'is', 'I', 'that', 'had', 'on', 'for', 'are', 'is', 'were', 'was', 'he', 'she']
finalWords = []
for i in range(0, len(totalWords)):
  if totalWords[i] not in stopWords:
    finalWords.append(totalWords[i])

## **`Sorting the words in alphabetical order`**

In [174]:
finalWords = sorted(finalWords)

## **`Preparing the indexes from the corpus`**

In [175]:
indexes = [i for i in sentences.keys()]
indexes

['S1', 'S2', 'S3', 'S4']

## **`Declaring a dataframe to view the BoW`**

In [176]:
bowFrame = pd.DataFrame(index = indexes, columns = finalWords)

## **`Finding word avaibility in the sentences`**

In [177]:
for word in finalWords: 
  for sentence in indexes:
    if word in sentences[sentence]: 
      bowFrame[word][sentence] = 1
    else:
      bowFrame[word][sentence] = 0

## **`Final Bag of Words DataFrame`**

In [178]:
bowFrame

   age best foolishness of stupidity time times worst
S1   0    1           0  1         0    1     1     0
S2   0    0           0  1         0    1     1     1
S3   0    0           0  1         1    1     0     0
S4   1    0           1  1         0    0     0     0